<title>RedirR | Another URL Shortener</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="referrer" content="always">
<meta name="keywords" content="RedirR, shorten">
<meta name="description" content="RedirR | Another URL Shortener | Yea its just a URL Shortener | Stop reading now | No stop | Stop reading">
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="icon" type="image/png" href="/favicon.ico">
<!-- Plugins -->

<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<!-- CSS Files -->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="/assets/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />

<!-- clipboard.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
